<section ng-controller="EditController">
    <section ng-controller="EntryController">
        <h4>Cats</h4>
        <ul class="display" ng-hide="editEnabled">
            <li class="check" ng-repeat="cat in cats" ng-click="edit(cat)">{{cat.firstName}} {{cat.lastName}}, {{cat.pizza}}
                <input type='submit' ng-click='remove(cat)' value='Delete' class="delete"/><hr></li>
        </ul>

        <div class="display" ng-show="editEnabled">
                First Name: <input type="text" ng-model="editCat.firstName"/><br/>
                Last Name: <input type="text" ng-model="editCat.lastName"/><br/>
                Favorite Pizza: <input type="text" ng-model="editCat.pizza"/><br/>
                <a href="#view"><input type="submit" ng-click="update(editCat)" value="Save"/></a>
            </form>
        </div>

    </section>

</section>